name: Go

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.15

    - name: Setup MySQL
      uses: shogo82148/actions-setup-mysql@v1
      with:
        user: root
        password: 123456
        my-cnf: |
          binlog_format=row
          log-bin=mysql-bin
          server-id=1

    - name: setup database
      run: |
        mysql --user 'root' --host '127.0.0.1' -e 'create database gotest;'

    - name: Test
      run: go test --race ./...
